<html>

<body>
    <button id="rzp-button">Authenticate</button>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        var options = {
          "key": "rzp_test_S8uRIsu5MQkpdK",
          "subscription_id": "sub_SA1qDWcDLg2iwc",
          "name": "Chattr",
          "description": "blue tick monthly subscription",
          "handler": function (response){
            
            console.log("--- RAZORPAY FULL RESPONSE ---");
            console.log(response);
            
            
            console.table(response);

            
            let msg = "Fields received:\n";
            for (let key in response) {
                msg += key + ": " + response[key] + "\n";
            }
            alert(msg);

            
            console.log("Check if 'razorpay_order_id' or 'razorpay_subscription_id' is present.");
          }
        };
        var rzp1 = new Razorpay(options);
        document.getElementById('rzp-button').onclick = function(e){
          rzp1.open();
        }
    </script>
</body>

</html>