PORT=:3000
AUTH_SUBSCRIPTION_SVC_URL=localhost:50051
POST_RELATION_SVC_URL=
CHAT_SVC_URL=
NOTIFICATION_SVC_URL=
MAX_FILE_NUMBER=
PROFILE_IMG_SIZE=
POST_SIZE=
AUTH_SOURCE=
USER_SECURITY_KEY=
ADMIN_SECURITY_KEY=
OTPVERIFICATION_SECURITY_KEY=
RESET_PASSWORD_SECURITY_KEY=
ADMIN_REFRESH_KEY=
USER_REFRESH_KEY=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
REDIS_ADDRESS=